#content{
    // height:1000px;
    width:100%;
    background:#009977;
  }
  
  #scroll-content{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:10;
  }
//フェード
.fadeInTrigger{
    opacity: 0;
    overflow: hidden;
    &.fadeIn{
        &.left_anime{animation: left_anime 1.5s ease forwards;}
    
        &.right_anime{animation: right_anime 1.5s ease forwards;}
    
        &.top_anime{animation: top_anime 1.5s ease forwards;}
        &.top_anime-dura{animation: top_anime 1.5s 1s ease forwards;}
        &.mv_anime{animation: mv_anime 1.5s 1.5s ease forwards;}
    }
}
@keyframes top_anime {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes left_anime {
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right_anime {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes mv_anime {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
//フェードここまで

//画像流れるように
.img_flow{
    overflow: hidden;
    position: relative;

    &.flow_right:before{animation: flow_right 1.5s cubic-bezier(.4, 0, .2, 1) forwards;}
    &.flow_left:before{animation: flow_left 1.5s cubic-bezier(.4, 0, .2, 1) forwards;}

    &:before {
        background: #fff;
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    @keyframes flow_right {
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes flow_left {
        100% {
            transform: translateX(100%);
        }
    }
}
//画像流れるように　ここまで

//パララックス

.effect-container {
    overflow: hidden;
    position: relative;
    // height: 500px; // コンテナの高さを調整
    width: 100%; // コンテナの幅を調整
    aspect-ratio: 1/.378;

    .effect-item {
        width: 100%; // 画像の幅を調整
        position: relative;
        top: -20px; // 初期位置を上にずらす
        video,img{
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.05); // ホバー時に拡大
            }
        }
    }//effect-image
}//scroll-effect-container
  
//パララックスここまで

//スクロールカラー
.add_color{
    background: #fff;
    transition: .5s ease-out;

    &.back_color{
        &.blue{background: blue;}
        &.yellow{background: yellow;}
        
    }
}

//文字の動き
.movetext{
    &,span{opacity:0;}
}

//スライダー関連(真ん中大きく)
.content_slider{
    .swiper-slide {
        // opacity: .3; /* 左右のスライドを薄くする */
        // transform: scale(.8); /* 左右のスライドを小さくする */
        // transition: .7s; /* ゆっくり小さくさせる */

        img{
            height: auto;
            width: 100%;
            transform: scale(0.8) translateY(12%); /* 左右のスライドを小さくする */
            transition: .7s; /* ゆっくり小さくさせる */
        }

        &.swiper-slide-active {
            // opacity: 1; /* 中央のスライドは薄くしない */
            transform: scale(1); /* 中央のスライドは小さくしない */
            z-index: 1; /* 中央のスライドを一番上にする */
            img{transform: scale(1);}
          }
      }
}