#g-nav {
  // ul {
  //   @include flex(min(8vw, 100px));
  // }

  a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 4em;
    height: 1.5em;
    span {
      position: absolute;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      transition: all 0.3s;
      text-align: center;

      &.defo {
        top: 0;
      }
      &.change {
        top: -100%;
      }
    }

    &:hover {
      opacity: 1;

      &::before {
        content: "";
        background: #333;
        width: 100%;
        height: 2px;
        //   display: block;
        position: absolute;
        bottom: 0em;
        left: 0;
        animation: border 0.3s ease forwards;
      }
      span {
        &.defo {
          top: 100%;
        }
        &.change {
          top: 0;
          opacity: 0.7;
          color: #ccc;
        }
      }
    }
  }
  @keyframes border {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
} //766

//ナビゲーションのためのCSS
#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background: #fff;
  transition: all 0.6s;
  padding: 90px 2%;
  box-sizing: border-box;
  &.panelactive {
    right: 0;
    #g-nav-list {
      /*ナビの数が増えた場合縦スクロール*/
      position: fixed;
      z-index: 999;
      width: 50%;
      margin: auto;
      height: 100vh; /*表示する高さ*/
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  ul {
    z-index: 999;
    width: 100%;
    flex-direction: column;
    margin-bottom: 2em;
    li {
      //width: 100%;
      a {
        padding: 10px;
        display: block;
        //color: #aa3a3a;
        border-bottom: solid 1px;
        border-right: unset !important;
      }
    }
  } //ul
  @media screen and (max-width: 767px) {
    width: 100%;
    &.panelactive #g-nav-list {
      width: 96%;
    }
  }
}

.side_wrap {
  position: fixed;
  top: 30vh;
  right: 20px;
  z-index: 1000;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: bold;
  @media screen and (max-width: 540px) {
    top: 10px;
  }

  .openbtn1 {
    width: 50px;
    margin-bottom: 40vh;
    cursor: pointer;
    @media screen and (max-width: 540px) {
      margin-bottom: 0;
    }

    span {
      display: block;
      transition: all 0.5s;
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 100%;
        height: 2px;
        background-color: #474747;
      }
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-bottom: 10px;
      }
      &:nth-of-type(3) {
        margin-bottom: 3px;
      }

      &.menu {
        text-align: center;
        width: 100%;
      }
    }
    &.active {
      span {
        &:nth-of-type(1) {
          transform: translateY(23px) rotate(-45deg);
        }
        &:nth-of-type(2),
        &.menu {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(0px) rotate(45deg);
        }
      }
    }
  } //openbtn1

  .scroll {
    @media screen and (max-width: 540px) {
      display: none;
    }
    a {
      position: relative;
      height: min(11vh, 100px);
      display: block;
      pointer-events: none;
      &::before,
      &::after {
        content: "";
        background: #474747;
        transition: all 0.5s;
        width: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease;
      }
      &::before {
        height: min(11vh, 100px);
      }
      &::after {
        height: min(2vh, 19px);
        rotate: -45deg;
        bottom: 0;
        transform-origin: bottom right;
      }
      span {
        position: absolute;
        bottom: -2em;
        width: 100%;
        text-align: center;
      }
    }

    &.toTop {
      a {
        pointer-events: unset;
        &::after {
          animation: rotateTop 0.5s ease forwards;
          rotate: unset;
        }
      }
      @keyframes rotateTop {
        0% {
          transform: rotate(0deg);
          bottom: unset;
        }
        100% {
          transform: rotate(45deg);
          top: -1px;
          left: calc(50% - 1px);
          transform-origin: top right;
        }
      }
    }
  } //scroll
}
//ボタンのためのCSS
