#g-nav{
    
    #g-nav-list >ul{gap: 1em}
    

    ul{
        @include flex_a_cen;
        line-height: 1.5;

        .title{
            cursor: pointer;
            height: 78px;
            @include flex_a_cen;
            gap: .5em;
            span{
                img{display: none;}
                width: 0;
                height: 0;
                border-style: solid;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-left: 10px solid #1db5c5;
                border-right: 0;
            }
        }

        .hover{
            .sub_box{
                background: #fff;
                position: absolute;
                top: 78px;
                left: calc(0px - ((100vw - 1500px) / 2));
                width: 100vw;
                z-index: 1;
                display: none;
                animation: appear .3s ease;
                @media screen and (max-width: 1024px){
                    position: unset;
                    width: 100%;
                }
            }

            .sub-menu{
                @include flex_cen;
                width: 100%;
                background: #fff;
                padding: clamp(28px, 2.1vw, 40px)  clamp(28px, 4vw, 40px);

                li{
                    transition: .3s;
                    
                    a,span{
                        display: block;
                        padding: 11px 0;
                        font-size: clamp(14px,.84vw,16px);
                        text-align: center;
                    }
                }

                @media screen and (max-width: 1024px){
                    flex-direction: column;
                    margin: unset;
                    padding: unset;
                    width: 100%;
                }
                
            }//sub-menu

            @media screen and (min-width: 1025px){
                &:hover .sub_box{
                    display: flex;
                    animation: appear .5s ease;
                }
            }
            
            
            @keyframes appear {
                0%{
                    opacity: 0;
                    top: 74px;
                }
                100%{
                    opacity: 1;
                    top: 78px;
                }
            }
        }//hover

        
    }//ul
}//g-nav

.last_nav{
    &.sparea{display: none !important;}
    @include flex(min(1.7vw,25px));
    align-items: center;

    .nav_item_access{
        font-size: 13px;
        @include flex(.5em);
        &::before{
            content: '';
            background: url(../image/icon_access.svg)0 0/contain no-repeat;
            width: 16px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 1024px){
    .nav_logo{
        display: block;
        text-align: center;
        margin: 0 0 70px;
        width: 70%;
        a{
            width: min(64vw,300px);
        }
        @media screen and (max-width: 768px){width: 100%;}
        
    }

    .last_nav{
        &.pcarea{display: none !important;}
        &.sparea{
            display: flex !important;
            flex-direction: column;
            gap:50px;
            width: 70%;
            li{border-right: unset !important;}
            @media screen and (max-width: 768px){
                width: 100%;
                padding: 0 10%;
                li{
                    width: 100%;
                    a{width: 100%;}
                }
            }
        }
    }
    //ナビゲーションのためのCSS
    #g-nav{
        position:fixed;
        z-index: 999;
        top:0;
        right: -100%;
        width:70%;
        height: 100vh;
        background:#fff;
        transition: all 0.6s;
        @media screen and (max-width: 768px){width: 100%;}

        &.panelactive{
            right: 0;
            #g-nav-list{
                /*ナビの数が増えた場合縦スクロール*/
                position: fixed;
                z-index: 999; 
                width: 100%;
                height: 100vh;/*表示する高さ*/
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                padding: 90px 0;
                box-sizing: border-box;
            }
        }

        .nav{
            z-index: 999;
            width: 70%;
            padding: 0 10% 90px;
            box-sizing: border-box;
            flex-direction: column;
            // margin: auto;
            @media screen and (max-width: 768px){
                width: 100%;
            }
            >li{
                border-bottom: 1px dotted #CCCCCC;
            }
            li{
                @include flex(.4em);
                padding: 10px 0;
                border-right: unset !important;

                a{padding: 3px 1em;}
            }
            
            .hover{
                flex-direction: column;
                .sub-menu{
                    li{
                        background: #FEEBCC;
                        a{padding: 3px 2em;}

                        @media screen and (max-width: 768px){
                            &:hover{
                                background: #FEEBCC;
                            }
                        }
                        
                    }
                }//sub-menu

            }

            // .hover02{
            //     flex-direction: column;
            //     .sub-menu02{
            //         display: none;
            //         position: unset;
            //         transform: unset;
            //         width: 100%;
            //         li{
            //             background: #ECC356;
            //             a{padding: 3px 3em;}

            //             &::after{
            //                 content: unset;
            //             }
            //         }
            //     }//sub-menu

                
            //     &:hover{
            //         .sub-menu02{
            //             display: none;
            //             animation: unset;
            //         }
            //     }
            // }
            
            // .title,.title02{
            //     @include flex(.3em);
                
            //     span{
            //         @include flex_cen_cen;
            //         width: 30px;
            //         aspect-ratio: 1;
            //         img{display: block;}
            //     }
                    
            // }

            // .sub-menu{

            //     li{
            //         &::after{
            //             content: unset;
            //         }
            //         //&:hover{background: unset !important;}
            //     }
            // }//sub-menu
        }//nav
    }//#g-nav

    //ボタンのためのCSS
    .openbtn1{
        width: 30px;
        height: 25px;
        vertical-align: middle;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1000;
        display: block;
        span{
            box-sizing: border-box;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #707070;
            transition: all .5s;
            &:nth-of-type(1) {top:0;}
            &:nth-of-type(2) {top:10px;}
            &:nth-of-type(3) {top:20px;}
        }//span
        &.active{
            span{
                &:nth-of-type(1) {
                    top: 5px;
                    left: 0;
                    transform: translateY(6px) rotate(-45deg);
                    width: 100%;
                }
                &:nth-of-type(2) {opacity: 0;}
                &:nth-of-type(3){
                    top: 17px;
                    left: 0;
                    transform: translateY(-6px) rotate(45deg);
                    width: 100%;
                }
            }
        }//&.active
    }//openbtn1
}//768px
